In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/preprocessed_data.csv')

In [3]:
df.head()

         Category     Size  Installs  Price Content Rating  year
0  ART_AND_DESIGN  19000.0     10000    0.0       Everyone  2018
1  ART_AND_DESIGN  14000.0    500000    0.0       Everyone  2018
2  ART_AND_DESIGN   8700.0   5000000    0.0       Everyone  2018
3  ART_AND_DESIGN  25000.0  50000000    0.0           Teen  2018
4  ART_AND_DESIGN   2800.0    100000    0.0       Everyone  2018

In [4]:
df.shape

(11786, 6)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11786 entries, 0 to 11785
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Category        11786 non-null  object
 1   Size            11786 non-null  float64
 2   Installs        11786 non-null  int64
 3   Price           11786 non-null  float64
 4   Content Rating  11786 non-null  object
 5   year            11786 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 552.6+ KB

In [6]:
df.columns

Index(['Category', 'Size', 'Installs', 'Price', 'Content Rating', 'year'], dtype='object')

In [7]:
df[["Category", "Genres", "Type"]]

KeyError: "['Genres', 'Type'] not in index"

In [8]:
df

             Category     Size   Installs  Price Content Rating  year
0      ART_AND_DESIGN  19000.0      10000    0.0       Everyone  2018
1      ART_AND_DESIGN  14000.0     500000    0.0       Everyone  2018
2      ART_AND_DESIGN   8700.0    5000000    0.0       Everyone  2018
3      ART_AND_DESIGN  25000.0   50000000    0.0           Teen  2018
4      ART_AND_DESIGN   2800.0     100000    0.0       Everyone  2018
...               ...      ...        ...    ...            ...   ...
11781  ART_AND_DESIGN  40000.0  100000000    0.0       Everyone  2020
11782  ART_AND_DESIGN  90000.0   50000000    0.0       Everyone  2020
11783  ART_AND_DESIGN  60000.0   10000000    0.0       Everyone  2020
11784  ART_AND_DESIGN  70000.0  100000000    0.0       Everyone  2020
11785  ART_AND_DESIGN  40000.0    5000000    0.0       Everyone  2020

[11786 rows x 6 columns]

In [9]:
df.Category.value_counts()

Category
FAMILY                 1975
GAME                   1144
TOOLS                   913
PRODUCTIVITY            521
BUSINESS                467
MEDICAL                 463
COMMUNICATION           428
PERSONALIZATION         406
LIFESTYLE               391
FINANCE                 391
SPORTS                  387
HEALTH_AND_FITNESS      370
PHOTOGRAPHY             362
SOCIAL                  329
NEWS_AND_MAGAZINES      308
SHOPPING                282
TRAVEL_AND_LOCAL        277
BOOKS_AND_REFERENCE     253
DATING                  246
VIDEO_PLAYERS           202
ENTERTAINMENT           187
EDUCATION               170
FOOD_AND_DRINK          146
MAPS_AND_NAVIGATION     146
GAME_ACTION             105
ART_AND_DESIGN           96
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       86
AUTO_AND_VEHICLES        85
GAME_ROLE_PLAYING        82
WEATHER                  82
EVENTS                   64
COMICS                   63
PARENTING                60
BEAUTY                   53
MUSIC_AND_AUDIO          43
GAME_ADVENTURE           31
GAME_STRATEGY            27
GAME_CARD                13
GAME_SIMULATION          13
GAME_SPORTS              10
GAME_PUZZLE               7
GAME_BOARD                5
GAME_RACING               4
GAME_MUSIC                2
GAME_WORD                 2
PHOTO_AND_VIDEO           1
Name: count, dtype: int64

In [12]:
df.Category.value_counts().shape

(33,)

In [16]:
df.loc[df.year >= 2018]

,Unnamed: 0,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Current Ver,Android Ver,Day,month,year
0,0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.100000,159,19000.000000,10000,Free,0.0,Everyone,Art & Design,1.0.0,4.0.3 and up,7,1,2018
1,1,Coloring book moana,ART_AND_DESIGN,3.900000,967,14000.000000,500000,Free,0.0,Everyone,Art & Design;Pretend Play,2.0.0,4.0.3 and up,15,1,2018
2,2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.700000,87510,8700.000000,5000000,Free,0.0,Everyone,Art & Design,1.2.4,4.0.3 and up,1,8,2018
3,3,Sketch - Draw & Paint,ART_AND_DESIGN,4.500000,215644,25000.000000,50000000,Free,0.0,Teen,Art & Design,Varies with device,4.2 and up,8,6,2018
4,4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.300000,967,2800.000000,100000,Free,0.0,Everyone,Art & Design;Creativity,1.1,4.4 and up,20,6,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10825,10826,Frim: get new friends on local chat rooms,SOCIAL,4.000000,88486,22270.540265,5000000,Free,0.0,Mature 17+,Social,Varies with device,Varies with device,23,3,2018
10826,10827,Fr Agnel Ambarnath,FAMILY,4.200000,117,13000.000000,5000,Free,0.0,Everyone,Education,2.0.20,4.0.3 and up,13,6,2018
10830,10831,payermonstationnement.fr,MAPS_AND_NAVIGATION,4.191757,38,9800.000000,5000,Free,0.0,Everyone,Maps & Navigation,2.0.148.0,4.0 and up,13,6,2018
10836,10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.000000,4,3600.000000,100,Free,0.0,Everyone,Education,1.0,4.1 and up,6,7,2018
10839,10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.500000,398307,19000.000000,10000000,Free,0.0,Everyone,Lifestyle,Varies with device,Varies with device,25,7,2018

In [5]:
def get_year_weight(year): # for giving importance to newer years than previous ones
    if year >= 2023:
        return 100
    elif year == 2022:
        return 50
    elif year >= 2020:
        return 20
    else:
        return 1

In [6]:
df["weights"] = df["year"].apply(get_year_weight)

In [8]:
df.tail()

             Category     Size   Installs  Price Content Rating  year  weights
11781  ART_AND_DESIGN  40000.0  100000000    0.0       Everyone  2020       20
11782  ART_AND_DESIGN  90000.0   50000000    0.0       Everyone  2020       20
11783  ART_AND_DESIGN  60000.0   10000000    0.0       Everyone  2020       20
11784  ART_AND_DESIGN  70000.0  100000000    0.0       Everyone  2020       20
11785  ART_AND_DESIGN  40000.0    5000000    0.0       Everyone  2020       20

In [11]:
df[["Installs", "weights"]].to_csv("../data/installs_and_weights.csv" ,index=False)

In [10]:
df.dtypes

Category           object
Size              float64
Installs            int64
Price             float64
Content Rating     object
year                int64
dtype: object

In [11]:
df["Category"].unique()

array(['ART_AND_DESIGN', 'AUTO_AND_VEHICLES', 'BEAUTY',
       'BOOKS_AND_REFERENCE', 'BUSINESS', 'COMICS', 'COMMUNICATION',
       'DATING', 'EDUCATION', 'ENTERTAINMENT', 'EVENTS', 'FINANCE',
       'FOOD_AND_DRINK', 'HEALTH_AND_FITNESS', 'HOUSE_AND_HOME',
       'LIBRARIES_AND_DEMO', 'LIFESTYLE', 'GAME', 'FAMILY', 'MEDICAL',
       'SOCIAL', 'SHOPPING', 'PHOTOGRAPHY', 'SPORTS', 'TRAVEL_AND_LOCAL',
       'TOOLS', 'PERSONALIZATION', 'PRODUCTIVITY', 'PARENTING', 'WEATHER',
       'VIDEO_PLAYERS', 'NEWS_AND_MAGAZINES', 'MAPS_AND_NAVIGATION',
       'PHOTO_AND_VIDEO', 'GAME_ROLE_PLAYING', 'GAME_ACTION',
       'GAME_ADVENTURE', 'GAME_CARD', 'GAME_SPORTS', 'GAME_BOARD',
       'GAME_PUZZLE', 'GAME_STRATEGY', 'GAME_SIMULATION',
       'MUSIC_AND_AUDIO', 'GAME_MUSIC', 'GAME_RACING', 'GAME_WORD'],
      dtype=object)